# ─── TOKEN DEL BOT DE DISCORD ────────────────────────────────────────────────
DISCORD_TOKEN=tu_token_del_bot_aqui

# ─── GENIUS (LETRAS) ──────────────────────────────────────────────────────────
# Consíguelo en https://genius.com/api-clients
GENIUS_TOKEN=tu_token_de_genius_aqui
